
body {
    background-image: url(Car-logo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#logo {
    border-radius: 15px;
    animation-duration: 15s;
    animation-name: test;
    position: relative;
    animation-timing-function: ease;
    animation-delay: 2s;
    margin-bottom: -7px;
}
    
    
/* logo animation */
@keyframes test {
    0% {left:0px;top:0px;}
    25% {left:660px; top:0px;}
    50% {left:0px; top:0px;}
    75% {left:0px; top:0px;}
    100% {left:0px; top:0px;}
}

    
#logoText {
    font-size: 7vw;
    font-family: 'Playball', cursive;
    animation-name: loco;
    animation-duration: 7s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-delay: 2s;
}
/* color animation */
@keyframes loco {
   
    0% {color: rgb(255, 0, 0);}
    10% {color: rgb(250, 84, 7);}
    20% {color: rgb(250, 205, 4);}
    30% {color: rgb(201, 252, 82);}
    40% {color: rgb(84, 250, 43);}
    50% {color: rgb(84, 250, 43);}
    60% {color: rgb(201, 252, 82);}
    70% {color: rgb(250, 205, 4);}
    80% {color: rgb(250, 84, 7);}
    90% {color: rgba(250, 44, 44,);}
    100% {color: rgba(255, 0, 0,);}
}    

.hero-body {
    padding: 10px 24px;
}

.subtitle {
    text-align: center;
}

#logoText2 {
    font-size: 2.5rem;
}


#test1 {
    background-color: rgba(3, 3, 10, 0.904);
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#test2 {
    background-color: rgba(3, 3, 10, 0.904);
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#test3 {
    background-color: rgba(3, 3, 10, 0.904);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}

#test4 {
    background-color: rgba(3, 3, 10, 0.904);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
}

section {
    margin-bottom: 10px;
}

.button {
    background-color: rgba(172, 255, 47, 0.863);
    
    
}

.button:hover {
    transform: scale(1.05);
}


.label {
    color:white;
    text-align: center;
}

.title {
    color: white;
   
}

.footer {
    background-color: rgba(3, 3, 10, 0.904);
    padding: 5px;
    margin-top: 10px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    }


.heart {
    font-size: 25px;
    color: red;
}

p {
    text-align: center;
    color: white;
}

.contributor {
    width: 75px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

}


        
